Documentation/Help/
packages/
coverage.xml
reports/
TestResults/
bin/
obj/
deploy/
.fake/
.vs/
TabbedOut.PosApi.TestPos.Test/Scripts/
TabbedOut.PosApi.TestPos/Scripts/
TabbedOut.PosApi.TestPos/Public/js/src/__tests__/output/
*.suo
*.user
*.orig
*.nupkg
*.cache
build
SolutionInfo.cs
UpgradeLog.htm
.paket/paket.exe
*.xml
